@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap");
.dark-bg {
  background-color: rgba(250, 250, 250, 0.9); }

ul {
  list-style: none; }

.hide {
  display: none; }

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  color: #040405;
  letter-spacing: normal; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

.container {
  padding-left: 2rem;
  padding-right: 2rem; }

section {
  padding: 4rem 0; }

p {
  line-height: 2.8rem;
  font-family: 'Montserrat', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700; }

.primary-header {
  font-size: 3.7rem;
  line-height: 1.2; }

.secondary-header {
  font-size: 2rem;
  font-weight: 400;
  padding-top: 3rem; }

.tracking-tight {
  letter-spacing: 0.02rem; }

.primary-text {
  color: #29303b;
  font-size: 2.4rem;
  line-height: 4.2rem; }
  .primary-text--white {
    color: #fff8f0; }

.tertiary-text {
  padding-bottom: 1rem; }

p {
  margin: 0; }

.m-t-small {
  margin-top: 2rem; }

.m-t-medium {
  margin-top: 4rem; }

.m-t-large {
  margin-top: 6rem; }

.m-b-small {
  margin-bottom: 2rem; }

.m-b-medium {
  margin-bottom: 4rem; }

.m-b-large {
  margin-bottom: 6rem; }

.p-t-small {
  padding-top: 2rem; }

.p-t-medium {
  padding-top: 4rem; }

.p-t-large {
  padding-top: 6rem; }

.p-b-small {
  padding-bottom: 2rem; }

.p-b-medium {
  padding-bottom: 4rem; }

.p-b-large {
  padding-bottom: 6rem; }

.t-center {
  text-align: center; }

.uppercase {
  text-transform: uppercase; }

.t-justify {
  text-align: justify; }

.t-fogra {
  color: #011627; }

.t-red {
  color: #ed1c42; }

a {
  text-decoration: none;
  display: block; }

.flex {
  display: flex;
  justify-content: center;
  align-items: center; }

input[type="button"], input[type="submit"], li.parallelogram {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all; }

label {
  margin: 0; }

.logo {
  font-size: 2.1rem;
  font-weight: bold; }

.icon-color {
  color: #6C1C3F; }

.course_link {
  color: #6C1C3F; }

.demo {
  display: block;
  width: auto; }

/*** TestimonialS Slider - Free Weebly Widget by Baamboo Studio - Style 2 ***/
.testimonial_slider_2 {
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  padding-bottom: 30px; }

.testimonial_slider_2 input {
  display: none; }

.testimonial_slider_2 #slide_2_1:checked ~ .boo_inner {
  margin-left: 0; }

.testimonial_slider_2 #slide_2_2:checked ~ .boo_inner {
  margin-left: -100%; }

.testimonial_slider_2 #slide_2_3:checked ~ .boo_inner {
  margin-left: -200%; }

.testimonial_slider_2 #slide_2_4:checked ~ .boo_inner {
  margin-left: -300%; }

.testimonial_slider_2 .boo_inner {
  width: 400%;
  -webkit-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  /* easeInOutQuart */
  -webkit-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  /* easeInOutQuart */ }

.testimonial_slider_2 .slide_content {
  width: 25%;
  float: left; }

.testimonial_slider_2 #controls {
  text-align: center; }

.testimonial_slider_2 #controls label {
  width: 8px;
  height: 8px;
  margin: 0 2px;
  display: inline-block;
  background: #999;
  /* Change controls background color */
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px; }

.testimonial_slider_2 #slide_2_1:checked ~ #controls label:nth-child(1),
.testimonial_slider_2 #slide_2_2:checked ~ #controls label:nth-child(2),
.testimonial_slider_2 #slide_2_3:checked ~ #controls label:nth-child(3),
.testimonial_slider_2 #slide_2_4:checked ~ #controls label:nth-child(4) {
  background: #000;
  /* Change controls background color when mouse click */ }

.testimonial_2 {
  font-size: 16px !important;
  color: #fff8f0;
  /* Change testimonial paragraph text color */
  padding: 16px 0px 7px; }

.content_2 {
  position: relative;
  padding-left: 0px;
  margin-bottom: 3rem; }

.content_2:before,
.content_2:after {
  content: "";
  height: 15px;
  width: 19px;
  position: absolute; }

.content_2:before {
  background: url(icon_testimonial_2_before.png) 0 0 no-repeat;
  left: 0; }

.content_2:after {
  background: url(icon_testimonial_2_after.png) 0 0 no-repeat;
  margin: 5px 10px; }

.testimonial h2 {
  color: #fff8f0; }

.author_2 h3, h4 {
  color: #fff8f0 !important; }

.testimonial_2 p {
  display: inline; }

.author_2 h3 {
  color: #29303b;
  /* Change author text color */
  font-size: 1.5rem;
  font-weight: 600px;
  padding: 0 0 5px; }

.author_2 h4 {
  color: #6C1D43;
  /* Change author text color */
  font-size: 1.5rem;
  font-weight: 400;
  padding: 0 0 5px; }

.author_2 h4 a {
  color: #999;
  /* Change company text link color */
  text-decoration: none;
  position: relative;
  padding-bottom: 1px;
  overflow: hidden;
  border-bottom: 1px solid; }

.author_2 h4 a:after {
  background: #999;
  /* Change company border link background color */
  height: 1px;
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  transition: all .3s; }

.author_2 h4 a:hover {
  color: #000;
  /* Change company text link color when mouse over */
  border: none; }

.author_2 h4 a:hover:after {
  border-color: #000;
  width: 100%; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.blog__title {
  font-size: 2.2rem;
  line-height: 1.4;
  color: #424242 !important; }

.blogPost__readLink {
  color: #6C1D43;
  font-size: 1.6rem;
  font-weight: bold; }

.blogPost__details {
  display: flex;
  align-items: center; }

.blogPosta {
  color: #424242;
  font-weight: bold; }

.blogPost__details--poster-img {
  max-width: 4rem;
  max-width: 4rem;
  vertical-align: middle;
  padding-right: 1rem; }

.rounded-img {
  border-radius: 50%; }

a {
  text-decoration: none; }

li {
  list-style: none; }

.navbar {
  padding: 1rem 1.5rem;
  top: 0;
  position: fixed;
  z-index: 2555;
  width: 100%;
  background-color: #6E1D41; }

.nav-link {
  font-size: 1.6rem;
  font-weight: 400;
  color: #475569; }

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: #fff8f0; }

.nav-menu {
  position: fixed;
  left: -100%;
  top: 5rem;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  transition: 0.3s;
  box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  z-index: 100; }

.nav-menu.active {
  left: 0; }

.nav-item {
  margin: 2.5rem 0; }

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #ffffff; }

.hamburger {
  display: block;
  cursor: pointer; }

.hamburger.active .bar:nth-child(2) {
  opacity: 0; }

.hamburger.active .bar:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg); }

.hamburger.active .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg); }

.header {
  border-bottom: 1px solid #E2E8F0; }

@media only screen and (min-width: 769px) {
  .hamburger {
    display: none; }
  .nav-link:hover {
    color: #f72f50; }
  .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: 0;
    top: 0;
    flex-direction: inherit;
    width: 35%;
    border-radius: 0; }
  .nav-item {
    margin-left: 5rem; } }

.border-line {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  margin-top: 4rem;
  margin-bottom: 4rem; }

.btn-secondary {
  background-color: #6C1D43;
  color: #f3f3f3;
  padding: 1.5rem 2rem;
  border-radius: 20rem; }

.btn-tertiary {
  background-color: #6C1D43;
  border: none;
  color: #f3f3f3;
  font-size: 1.6rem;
  padding: 1.6rem 0;
  display: block;
  outline: none;
  min-width: 100%; }

.btn-primary {
  background-color: #ed1c42;
  color: #fff; }

.slideshow-btn {
  padding: .9rem 1rem;
  width: 50%;
  font-size: 1.7rem;
  background-color: #0d5d9e;
  color: #fff8f0;
  border-radius: .7rem;
  border: none;
  outline: none; }

.form-group {
  margin-bottom: 1rem; }
  .form-group label {
    display: block;
    padding: 1rem 0 .5rem 0; }

.form-control {
  display: block;
  padding: 1.3rem;
  outline: none;
  min-width: 100%; }

.footer {
  background-color: #090c0f;
  color: #f3f3f3;
  padding: 2rem 0;
  font-size: 1.6rem; }

.subFooter {
  background-color: #19202A;
  color: #f3f3f3;
  font-size: 1.5rem; }
  .subFooter__heading {
    padding-bottom: .7rem;
    font-size: 1.5rem; }
  .subFooter__list {
    display: flex;
    align-items: center;
    font-size: 1.4rem; }

.sub-footer__link {
  color: #f3f3f3;
  padding-left: 1rem; }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh; }

.navbar__list {
  display: none; }

.slideshow {
  height: 92vh;
  padding: 0 1rem;
  background-image: url("/images/Wave-3.4s-1366px.svg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center; }

.courses {
  background-color: rgba(250, 250, 250, 0.9);
  padding-bottom: 5rem; }
  .courses__box {
    padding: 1rem 0; }
  .courses_title {
    padding-bottom: 1rem;
    font-size: 2rem; }

.assurance__box--heading {
  font-size: 2rem; }

.benefits {
  padding: 4rem 2rem; }

.assurance {
  background-image: url("/images/trust.jpg");
  background-position: left center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff8f0; }
  .assurance__box--heading {
    padding-bottom: 0.8rem; }

.testimonial {
  background-image: url(/images/feedback.jpg);
  background-attachment: fixed;
  background-position: left; }

.slideshow__2 {
  height: 55vh;
  background-image: url(/images/Wave-3.4s-1366px.svg);
  color: #f3f3f3; }

.login-wrap {
  width: 100%;
  margin: auto;
  max-width: 52.5rem;
  min-height: 100rem;
  position: relative;
  box-shadow: 0 1.2rem 1.5rem 0 rgba(0, 0, 0, 0.24), 0 1.7rem 5rem 0 rgba(0, 0, 0, 0.19); }

.form-check-label {
  color: #19202a; }

.form-label {
  color: red; }

.tab-1 {
  color: #fff8f0; }

.login-html {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 9rem 2rem 5rem 2rem;
  background: #fff; }

.login-html .sign-in-htm,
.login-html .sign-up-htm {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  transition: all .4s linear; }

.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check {
  display: none; }

.group__s {
  margin-bottom: .5rem; }

.login-html .tab,
.login-form .group .label,
.login-form .group .button {
  text-transform: uppercase; }

.login-html .tab {
  font-size: 2.2rem;
  margin-right: 1.5rem;
  padding-bottom: .5rem;
  margin: 0 1.5rem 1rem 0;
  display: inline-block;
  border-bottom: .2rem solid transparent; }

.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab {
  color: #6e1d41;
  border-color: #1161ee; }

.login-form {
  min-height: 34.5rem;
  position: relative;
  perspective: 100rem;
  transform-style: preserve-3d; }

.login-form .group {
  margin-bottom: 1.5rem; }

.login-form .group .label,
.login-form .group .input,
.login-form .group .button {
  width: 100%;
  color: #090c0f;
  display: block; }

.login-form .group .input,
.login-form .group .button {
  border: 0.2px solid #6e1d41;
  padding: 1.5rem 2rem;
  border-radius: .5rem;
  background: #f3f3f3;
  outline: none; }

.login-form .group input[data-type="password"] {
  -webkit-text-security: circle; }

.login-form .group .label {
  color: #040405;
  font-size: 1.2rem; }

.login-form .group .button {
  background: #6C1D43;
  color: #fff8f0; }

.login-form .group label .icon {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: .2rem;
  position: relative;
  display: inline-block;
  background: rgba(255, 255, 255, 0.1); }

.login-form .group label .icon:before,
.login-form .group label .icon:after {
  content: '';
  width: 1rem;
  height: .2rem;
  background: #fff;
  position: absolute;
  transition: all .2s ease-in-out 0s; }

.login-form .group label .icon:before {
  left: .3rem;
  width: .5rem;
  bottom: .6rem;
  transform: scale(0) rotate(0); }

.login-form .group label .icon:after {
  top: .6rem;
  right: 0;
  transform: scale(0) rotate(0); }

.login-form .group .check:checked + label {
  color: #fff; }

.login-form .group .check:checked + label .icon {
  background: #1161ee; }

.login-form .group .check:checked + label .icon:before {
  transform: scale(1) rotate(45deg); }

.login-form .group .check:checked + label .icon:after {
  transform: scale(1) rotate(-45deg); }

.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm {
  transform: rotate(0); }

.login-html .sign-up:checked + .tab + .login-form .sign-up-htm {
  transform: rotate(0); }

.hr {
  height: .2rem;
  margin: 6rem 0 5rem 0;
  background: rgba(255, 255, 255, 0.2); }

.foot-lnk {
  text-align: center; }
