
a {
    text-decoration: none;
}

    li {
    list-style: none;
    }

    .navbar {
        // display: flex;
        // justify-content: space-between;
        // align-items: center;
        padding: 1rem 1.5rem;
        top: 0;
        position: fixed;
        z-index: 2555;
        width: 100%;
        background-color: #6E1D41;
     
    }

    .nav-link{
        font-size: 1.6rem;
        font-weight: 400;
        color: #475569;
    }

    .nav-logo {
        font-size: 2.1rem;
        font-weight: 500;
        color: $white;
    }
    .nav-menu {
       
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
       background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
            z-index: 100;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }
    .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: #ffffff;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
    .header{
        border-bottom: 1px solid #E2E8F0;
    }
    @media only screen and (min-width: 769px) {


        .hamburger {
            display: none;
        }

        .nav-link:hover{
            color: #f72f50;
        }

        .nav-menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            left: 0;
            top: 0;
            flex-direction: inherit;
            width: 35%;
            border-radius: 0;
        }
        
       
        .nav-item {
            margin-left: 5rem;
        }
    }