
.slideshow {
    height: 92vh;
    padding: 0 1rem;
    background-image: url("/images/Wave-3.4s-1366px.svg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center; }
  