.achievements{
    background-color: #0D98D3;
    color: $white;
    padding: 4rem 0;
    height: 85vh;

    & .flex{
        align-items: stretch;
    }    
}

.f-d-c{
    flex-direction: column;
}

.box h2{
    font-size: 4rem;
}