.blog__title--2 {
    font-size: 2rem;
}

.blogPost__details--name{
font-size: 1.55rem;
}

.wrap{
    border-radius: .5rem;
    border:  2px solid rgba(229,229,229,0.6);
    padding: 0 1rem 1rem 1rem;
}

