.courses {
    background-color: rgba(250, 250, 250, 0.9);
    padding-bottom: 5rem; 

    &__box{
    padding: 1rem 0;
    }

&_title{
    padding-bottom: 1rem;
    font-size: 2rem;
}}

.assurance__box--heading{
    font-size: 2rem;
}
.benefits {
    // clip-path: polygon(0 0,100% 0, 100% 85%);
    padding: 4rem 2rem; 
}
@media (min-width:375px){
    .benefits {
      padding:4rem 3rem;
  }
  }
.assurance{
   background-color: darken($color: $blue, $amount: 20);
    color: $white;

    &__box--heading{
        padding-bottom: 0.8rem;
    }
}

.testimonial{
    background-image: url(/images/feedback.jpg);
    background-attachment: fixed;
    background-position: left;
}